.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .card-title {
    font-weight: bold;
  }
  .card-actions {
    margin-top: 10px;
  }

  .del-btn{
    background-color: rgb(243, 100, 100);
    font-size: 16px;
    font-weight: 800;
  }

  .add-btn{
    background-color: rgb(40, 219, 4);
    font-size: 14px;
  }